*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: auto;

    padding: 40px 0;
}

.header_container{
    margin: auto;
}

.products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;

    gap: 30px;

    padding: 40px 0;
}
.card_img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.cart_text{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.cart_title{
    font-size: 16px;
}

.cart_text_price{
    font-size: 20px;
    font-weight: 500;
    padding: 5px 0;
}

.overlay{
    display: none;

    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #00000060;

    margin: auto;
}

.active{
    display: block;
}

.card_body{
    display: flex;
    flex-direction: column;

    gap: 10px;

    font-size: 16px;

    padding: 20px 0;
}

.form_search{
    display: flex;
    align-items: center;
    gap: 20px;

    margin-bottom: 30px;
}

.form_search .mb-3{
    flex: 10;

    margin-bottom: 0 !important;
}

.form_search .button_search{
    flex: 1;
}

.select_price{
    margin: 20px 0;
}

/* .overlay{
    display: none;

    background-color: rgba(0, 0, 0, 0.3);

    position: fixed;
    inset: 0;

    z-index: 10;
}

.overlay.active{
    display: block;
}

.modal{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    
    display: grid;
    grid-template-rows: 0.25fr 4.75fr 1fr;

    background-color: #fff;

    padding: 32px;
    min-width: 25vw;
} */